/* Ajout des propriétés pour corriger l'apparence des éléments */
button,
input,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Styles existants */
body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f8f9fa;
}
